html, body {
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px;
    background-color: #f7f7f7
  
  }
  .nb{
    width: 100%;
    height: 75px;
    background-color: #fff;
    box-shadow: 0 1px 4px rgb(146 161 176 / 25%);
  /*   position: relative; */
  
  
  }
  
  .logo{
    position: absolute;
    top: 10px;
    left: 30px;
  }
  
  .navmenu{
    position: relative;
    top: 39px;
    text-align: center;
    line-height: 3.5px;
  }
  
  .navmenu a{
    text-decoration: none;
    padding: 2%;
    color: black;
    font-size: 17px;
    font-family: Helvetica
  }
  
  .navmenu a:last-of-child{
    border-right: none
  }
  
  
  .intro {
  
    line-height: 1.5;
    display: inline-block;
    vertical-align: middle;
    margin-right: 10%
  }
  
  
  .img1{
    width: 20%;
    height: auto;
  /*   overflow: hidden; */
    float:left;
    margin-left: 8%;
    margin-top: 3%
  /*   display: flex;
    justify-content: center;
    align-items: center; */
  
  }
  
  .profile{
    position: relative;
  
    margin-top: 5%;
    margin-bottom: 10%;
  }
  
  
  .intro{
    text-align: center;
    float:right;
    width: 57%
  }
  
  h2{
    text-align: center;
    font-size: 50px;
  }
  
  h3{
    text-align: center;
    font-size: 30px;
  
  }
  
  h4{
    position: initial;
    font-size: 18px;
  /*   width: 60%; */
  
  }
  
  
  .pre, .next{
    cursor: pointer;
    position: absolute;
    top: 45%;
  
    width: auto;
    font-weight: bold;
    font-size: 20px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    padding: 16px
  
  }
  
  .pre{
    position: absolute;
    left: -1px;
    color: #000
  }
  
  
  .next{
    border-radius: 3px 0 0 3px;
    right: 0;
    color: #000
  }
  
  .pre:hover, .next:hover{
    background-color: rgba(0,0,0,0.8);
    color: #fff
  }
  
  @media only screen and (max-width: 613px) and (min-width: 360px){
    .main{
      z-index: 0;
  
    }
    body{
      width:100%;
      height:100%;
      margin:0px;
      padding: 0px;
      text-align: center
    }
    .logo{
      position: absolute;
      top: 10px;
      left: 30px;
      font-size: 25px;
    }
  
    .navmenu{
      display: flex;
      width: 100%
    }
  
    .nb{
  /*     margin-top: -20px; */
      width: 100%;
      border-bottom: none;
      display: block;
    }
     .navbar {
      width: 100%;
      box-shadow: 0 1px 4px rgb(146 161 176 / 15%);
      position: absolute;
      z-index: 1;
    }
  
    .nb {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 62px;
    }
  
    .navbar .navmenu {
      display: flex;
    }
  
    .navbar .nb a {
      text-decoration: none;
      color: #0e2431;
      font-weight: 700;
      font-size: 2rem;
      padding: 2rem;
    }
  
    .navbar .navmenu a:hover{
      font-weight: bolder;
    }
  
    .nb {
      display: block;
      position: relative;
      height: 60px;
      box-shadow: 0 1px 4px rgb(146 161 176 / 15%);
    }
  
    .nb .checkbox {
      position: absolute;
      display: block;
      height: 32px;
      width: 32px;
      top: 20px;
      left: 80%;
      z-index: 5;
      opacity: 0;
      cursor: pointer;
    }
    .main .checkbox {
      position: absolute;
      display: block;
      height: 32px;
      width: 32px;
      top: 20px;
      left: 80%px;
      z-index: 5;
      opacity: 0;
      cursor: pointer;
    }
  
  
  .nb .hamburger-lines {
    display: block;
    height: 26px;
    width: 32px;
    position: absolute;
    top: 26px;
    left: 80%;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .nb .hamburger-lines .line {
    display: block;
    height: 4px;
    width: 100%;
    border-radius: 10px;
    background: #0e2431;
  }
  
  .nb .hamburger-lines .line1 {
    transform-origin: 0% 0%;
    transition: transform 0.4s ease-in-out;
  }
  
  .nb .hamburger-lines .line2 {
    transition: transform 0.2s ease-in-out;
  }
  
  .nb .hamburger-lines .line3 {
    transform-origin: 0% 100%;
    transition: transform 0.4s ease-in-out;
  }
  
   .navmenu  {
    padding-top: 120px;
  /*   box-shadow: inset 0 0 2000px rgb(0, 0, 0); */
    background-color: #ffffff;
    height: 100vh;
    width: 97.5%;
    transform: translate(-150%);
    display: flex;
    flex-direction: column;
  
    margin-left: -40px;
    padding-left: 50px;
    transition: transform 0.5s ease-in-out;
    text-align: center;
  
    position: absolute;
    top: 60px
    }
  
      .navmenu a{
      text-decoration: none;
      padding: 25px;
      color: black;
      font-size: 25px; 
      text-align: center
    }
  
  
    .nb input[type="checkbox"]:checked ~ .navmenu {
      transform: translateX(0);
    }
  
    .nb input[type="checkbox"]:checked ~ .hamburger-lines .line1 {
      transform: rotate(45deg);
    }
  
    .nb input[type="checkbox"]:checked ~ .hamburger-lines .line2 {
      transform: scaleY(0);
    }
  
    .nb input[type="checkbox"]:checked ~ .hamburger-lines .line3 {
      transform: rotate(-45deg);
    }
    .logo{
      width: 45px;
      height: 45px
    }
    .intro h4{
      text-align: center;
      width: 100%;
  /*     height: 1500px */
    }
  
    .img1{
      margin: auto;
      position: relative; 
      float: none;
      margin-left: 0%;
      width: 50%;
      height: auto
  
    }
  
    .intro{
      width: 80%;
  /*     height: auto; */
      position: relative;
  
  
  
    }
  
    .intro h2{
      font-size: 34px;
      line-height: 1rem;
      position: relative;
  
  
    }
  
    .intro h3{
      font-size: 24px;
  
    }
  
  
    .intro h4{
      position: relative;
  
    }
  
    .profile{
      position: absolute;
      top:10%
    }
  
  }
  
  
  @media only screen and (min-width: 613px){
    .hamburger-lines{
      display: none
    }
  
    .checkbox{
      display:none
    }
  
  
  }
  
  @media only screen and (min-width: 613px) and (max-width: 920px){
    .img1{
  
      position: relative; 
      float: none;
  /*     margin-left: 0%; */
      display: block;
      margin: 0 auto;
      height: auto;
      width: 45%;
  
    }
  
    .intro{
      width: 80%;
  /*     height: auto; */
      position: relative;
    }
  
    .intro h2{
      font-size: 34px;
      line-height: 1rem;
      position: relative;
  
  
    }
  
    .intro h3{
      font-size: 24px;
  
    }
  
  
    .intro h4{
      position: relative;
  
    }
  
    .profile{
      position: absolute;
  /*     top:10%; */
      margin: auto;
      margin-top: 3%
    }
  }